%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        = image_tag @video.large_image_url
      .video_info.col-sm-3
        %header
          %h3= @video.title
          - if @video.review_count == 0
            %span Rating: Not Yet Rated
          - else
            %span Rating: #{@video.average_rating}/5.0
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          = link_to "+ My Queue", queue_items_path(video_id: @video.id, user_id: current_user.id), method: "POST", class: "btn btn-default" 

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for([@video, @review], control_col: "col-sm-10 col-sm-offset-1") do |f|
        %fieldset
          .row
            .col-sm-3
              - rating_values = [5, 4, 3, 2, 1].map {|number| [pluralize(number, "Star")]}
              = f.select(:rating, rating_values, label: "Rate this Video")
          .row
            .col-sm-8
              = f.text_area :message, label: "Write Review", size: "24x6"
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: "btn"
          = link_to "Cancel", @video
      %header
        %h3 User Reviews(#{@video.review_count})
      %ul
        - if @video.review_count > 0
          - @video.reviews.each do |review|
            %article.review
              %li.row
                .col-sm-2
                  %span Rating: #{review.rating} / 5
                  %p by <a href="">#{review.user.full_name}</a>
                .col-sm-8
                  %p #{review.message}
